<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>诗人词云生成</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/wordcloud@1.6.0/dist/wordcloud.min.js"></script>
  <script src='./echarts-wordcloud.js'></script>
</head>
<body>
<div>
  <label for="poetName">请输入诗人名称：</label>
  <input type="text" id="poetName" />
  <button onclick="generateWordCloud()">生成词云</button>
</div>
<div>
  <div id="wordcloudContainer" style="width: 800px; height: 400px;"></div>
</div>

<script>
  function generateWordCloud() {
    var poetName = document.getElementById('poetName').value;

    // 发起 HTTP 请求调用 Python API
    $.ajax({
      url: '/generate_wordcloud',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ poetName: poetName }),
      success: function (response) {
        if ('error' in response) {
          alert(response.error);
          return;
        }

        // 使用 wordcloud.js 在前端生成词云图
        var wordcloudContainer = document.getElementById('wordcloudContainer');
        var options = {
          list: JSON.parse(response.words),
          gridSize: 8,
          weightFactor: 5,
          fontFamily: 'Arial',
          color: 'pink',
          backgroundColor: '#fff'
        };
        WordCloud(wordcloudContainer, options);
      },
      error: function (error) {
        console.error('请求错误:', error);
      }
    });
  }
</script>
</body>
</html>